{% extends 'addresses/base.html' %}
{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="container">
                <h1>Lista Grup</h1>
            </div>
        </div>
        <div class="row">
            <div class="container mb-4">
                <table class="table table-secondary">
                    <thead>
                    <tr>
                        <td>Nazwa</td>
                        <td>Opis</td>
                        <td>Członkowie</td>
                        <td>Akcje</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.group_name }}</td>
                            <td>{{ object.group_desc }}</td>
                            <td>{{ object.members }}</td>
                            <td><a href="{% url "group_info" object.id %}">Info</a> | <a
                                    href="{% url "edit_group" object.pk %}">Edytuj</a> | <a
                                    href="{% url "delete_group" object.pk %}">Usuń</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <a class="btn btn-info mb-4" href="{% url 'add_group' %}">Nowa grupa</a>
            </div>
        </div>
    </div>
{% endblock %}