{% extends "addresses/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="row">
        <div class="container">
            <h1>Dodaj kontakt</h1>
        </div>
    </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Nowy kontakt</legend>
                {{ form.as_p }}
            </fieldset>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Adres</legend>
                {{ address_form.as_p }}
            </fieldset>

            <div class="row">
                <fieldset class="col-md-6 mb-4">
                    <legend>Numer Telefonu</legend>
                    {{ phone_formset.management_form }}
                    {{ phone_formset.non_form_errors }}
                    {% for form in phone_formset %}
                        <div class="phone_formset form mb-2">
                            <div class="card">
                                <div  class="card-body">
                                    <small class="text-muted">Phone Number</small>
                                    {{ form.as_p }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>

                <fieldset class="col-md-6 mb-4">
                    <legend>Adres email</legend>
                    {{ email_formset.management_form }}
                    {{ email_formset.non_form_errors }}
                    {% for form in email_formset %}
                         <div class="email_formset form mb-2">
                            <div class="card">
                                <div  class="card-body">
                                    <small class="text-muted">Email</small>
                                    {{ form.as_p }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
            </div>

            <div class="form-group mt-2">
                <button class="btn btn-outline-info" type="submit">Zapisz</button>
            </div>
        </form>
    </div>
{% endblock content %}

